<div class="flex p-4 border-b-2">
    <img class="w-32" src="https://classmateshop.com/_next/image?url=https%3A%2F%2Fcls-cdn-wip.sgp1.cdn.digitaloceanspaces.com%2Flive%2Fmedia%2Fdesign_template%2Ffeatured_image%2Fb2777374-ad22-4eb4-b70d-3b1e5f80a574.png&w=640&q=75" alt="">
    <div class="w-full flex flex-col justify-between p-5">
        <div class="flex justify-between">
            <div class="w-9/12">
                <p class="text-lg font-bold">Item title</p>
                <p class="text-sm">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Enim saepe ipsa commodi quae! Aspernatur rem dolore, quia maxime tenetur aperiam!</p>
            </div>
            <p class="text-lg font-bold">$ 22.33</p>
        </div>

        <div class="flex justify-between">
            <div class="border p-2 text-sm rounded-full gap-3 flex">
                <label for="qty">Quantity:</label>
                <select name="" id="qty">
                    <option value="1">1</option>
                    <option value="2" selected>2</option>
                    <option value="3">3</option>
                </select>
            </div>
            <button title="remove from cart" class="opacity-75 hover:i=opacity-100 hover:scale-[1.2] hover:text-red-500 transition delay-3"><svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-bag-x" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M6.146 8.146a.5.5 0 0 1 .708 0L8 9.293l1.146-1.147a.5.5 0 1 1 .708.708L8.707 10l1.147 1.146a.5.5 0 0 1-.708.708L8 10.707l-1.146 1.147a.5.5 0 0 1-.708-.708L7.293 10 6.146 8.854a.5.5 0 0 1 0-.708"/>
                <path d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1m3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4zM2 5h12v9a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1z"/>
              </svg></button>
        </div>
    </div>
</div>