<div class="border rounded-xl py-4 px-10 shadow-sm text-[14px] justify-between">
    <div class="grid grid-cols-2 ">
        <p class="text-gray-400">Subtotal</p> <p class="text-end font-bold">$10</p>
        <p>Subtotal</p> <p class="text-end">10</p>
        <p>Subtotal</p> <p class="text-end">10</p>
    </div>
    <hr class="mt-5">
    <div class="flex justify-between">
        <input type="text" class="input input-bordered  input-sm mt-5" placeholder="Coupon Code">
    <button class="btn mt-5 btn-sm mx-3 rounded-full border hover:bg-green-700 hover:text-white bg-green-100">Apply Coupon</button>
    </div>
    

    <p class="mt-5 text-sm">Free </p>
</div>