{%extends 'base.html'%}

{%block content %}
{% include 'components/offerbar.html'%}
{% include 'components/header.html'%}


{% include 'cart/processIndicator.html'%}
<div class="min-h-screen py-3">
    <div class="flex justify-center flex-col lg:flex-row lg:w-11/12 mx-auto">
        <div class="px-4">
            <h2 class="text-xl font-medium text-gray-900">Shopping cart</h2>
            <!-- items in cart -->
            <div class="flow-root">
                {% include 'cart/cartItem.html'%}
                {% include 'cart/cartItem.html'%}
                {% include 'cart/cartItem.html'%}
            </div>
        </div>
        
        <div class="lg:w-4/12 p-4">
            {% include 'cart/totalSection.html'%}
        </div>
      <!-- totalSection -->
    
    </div>
</div>







{% include 'components/footer.html'%}
{%endblock%}


