{%extends 'base.html'%}

{%block content %}

{% include 'components/offerbar.html'%}
{% include 'components/header.html'%}
{% include 'components/sectionOne.html'%}
{% include 'components/features.html'%}
{% include 'components/sectionThree.html'%}
{% include 'components/cataOne.html'%}
{% include 'components/cataTwo.html'%}
{% include 'components/sectionFour.html'%}





<!-- <button hx-get="/home1" hx-trigger="click"
hx-target="#parent-div">
    Click Me
  </button> -->


  {% include 'components/extras.html'%}
  {% include 'components/emailForm.html'%}
  {% include 'components/footer.html'%}
{%endblock%}


