<div class="flex justify-center py-10 flex flex-col lg:flex-row-reverse my-10">
    <div class="w-full lg:w-1/5 flex justify-center text-center z-3 bg-base-100 mb-5">
        {% include 'components/CataHeader.html'%}
    </div>

    <div class="carousel carousel-end gap-3 overflow-x-scroll w-full lg:w-4/5 px-2 ">
        <div class="carousel-item">
            {% include 'components/listingOne.html'%}
        </div> 
        <div class="carousel-item">
            {% include 'components/listingOne.html'%}
        </div> 
        <div class="carousel-item">
            {% include 'components/listingOne.html'%}
        </div> 
        <div class="carousel-item">
            {% include 'components/listingOne.html'%}
        </div> 
        <div class="carousel-item">
            {% include 'components/listingOne.html'%}
        </div> 
        <div class="carousel-item">
            {% include 'components/listingOne.html'%}
        </div> 
        <div class="carousel-item">
            {% include 'components/listingOne.html'%}
        </div>
    </div>
    </div>


  


