<div class="rounded-box border w-64 lg:w-72 p-5">
  <img
    class=""
    src="https://classmateshop.com/_next/image?url=https%3A%2F%2Fcls-cdn-wip.sgp1.cdn.digitaloceanspaces.com%2Flive%2Fmedia%2Fdesign_template%2Ffeatured_image%2F3a9e5449-1a06-426d-aa33-82eded31a3f0.png&w=640&q=75"
    alt=""
  />
  <div class="px-2">
    <p class="font-bold text-md">Notebook 1</p>
    <p class="text-sm">Soft Cover Notebook <br>135 Pages - 11 inch X 12 inch</p>
  </div>
  <div class="flex justify-end mt-2">
    <button class="buttonNax border text-sm p-0 bg-green-200">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart-plus" viewBox="0 0 16 16">
            <path d="M9 5.5a.5.5 0 0 0-1 0V7H6.5a.5.5 0 0 0 0 1H8v1.5a.5.5 0 0 0 1 0V8h1.5a.5.5 0 0 0 0-1H9z"/>
            <path d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1zm3.915 10L3.102 4h10.796l-1.313 7zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0m7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0"/>
          </svg>
    </button>
  </div>
</div>
