<div class="flex gap-3 content-center justify-center">
    <figure><img class="w-24 rounded-lg" src="https://classmateshop.com/_next/image?url=https%3A%2F%2Fcls-cdn-wip.sgp1.cdn.digitaloceanspaces.com%2Flive%2Fmedia%2Fdesign_template%2Ffeatured_image%2Fb2777374-ad22-4eb4-b70d-3b1e5f80a574.png&w=640&q=75" alt="Album"/></figure>
    <div class="">
      <p class="font-bold text-lg">Item Title Here</p>
      <p class="">Lorem ipsum dolor, sit amet consectur adipisicing elit.</p>
    </div>
  </div>