<div class="bg-green-500 text-center">
    <div class="flex flex-col lg:flex-row">
      <div class=" w-full lg:w-1/2 flex align-center justify-center px-2 lg:px-10 pt-10">
        <h1 id="introTextOne" class="font-title  text-center text-4xl lg:text-5xl font-bold text-white leading-[1.1] [word-break:auto-phrase] xl:w-[115%] xl:text-start :leading-[1.35] my-10">
          Tired of spending a fortune on notebooks? <span>We've got you covered!</span> 
        </h1>
      </div>
      <div class="w-full lg:w-1/2 flex justify-center overflow-hidden align-end">
        <img class="" src="https://classmateshop.com/_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fenjoy.97f776b8.webp&w=1080&q=75" alt="">
      </div>

    </div>
  </div>

  <!-- <h1>Introducing the Best Deal in Town on notes - right at our vending machine!</h1> -->